<!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="\about\" class="button">About</a></li>
         <li><a href="\" class="button">Blog</a></li>
         <!--  <li><a href="\projects" class="button">Projects</a></li>  -->
         <li><a href="\kb\" class="button">Knowledgebase</a></li>
        </ul>
      </div>
      <h1>{{ site.name }} <small>{{ site.subtitle }}</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->