<!-- Sidebar -->

<aside class="large-3 columns">

	<hr>
	<h5>{% if page.category == 'kb' %}Knowledge Base{% else %}Blog{% endif %} Categories</h5>
    <ul class="side-nav" style="margin-bottom:20px; padding:0px;">		
	

		<!-- Tags should change based on whether they exist in the category
	{% if page.category == 'kb' %}

		{% for post in site.categories.kb %} 
			// append post.tags
		{% endfor %} 

	{% endif %}
			-->
	
		
	{% for tag in site.tags limit: 10 %}  
		{% if page.category == 'kb' %}
  			<li><a href="/kb/category/{{ tag | first }}/">{{ tag | first }}</a></li>
		{% else %}
  			<li><a href="/category/{{ tag | first }}/">{{ tag | first }}</a></li>
		{% endif %}
	{% endfor %}
    </ul>
	<hr>

	<div class="panel">
	    <h5>About</h5>
			<p style="font-size:80%;">My name is Rich Wardwell.</p>
			<p style="font-size:80%;">I am an iOS & Mac developer at <a href="http://blackpixel.com">Black Pixel</a>.</p>
			<p style="font-size:80%;">I am a faithful believer that the highest form of software creation is an art — a worthy craft that must be nurtured and pursued.  I’m also obsessed with the creation and form of code that exudes its intent without encouragement.</p>
			<p style="font-size:80%;">When not knee-deep in iOS or Mac code or playing with my kids, I enjoy a bit of "tractor therapy” working my little 30 acre farm in rural Georgia, competitive shooting, and making noise on the keys or guitar.</p>

<!--    
	<h5>Projects</h5>
    <ul class="side-nav">
      	<li><a href="#">Hex</a></li>
    	<li><a href="#">Solum</a></li>
    </ul>
	-->
	
		<h6 style="margin-top:30px;">Where to find me</h6>
		<ul class="side-nav" style="margin-bottom:20px; padding:0px;">
			<li><a href="https://twitter.com/{{ site.author.twitter }}">twitter ({{ site.author.twitter }})</a>
			<li><a href="https://github.com/{{ site.author.github }}">github ({{ site.author.twitter }})</a>
			<li><a href="https://stackoverflow.com/users/109115/rcw3}}">stack overflow ({{ site.author.twitter }})</a>
			<li><a href="https://linkedin.com/{{ site.author.linkedin }}">linkedin</a>
		</ul>
		
		<a href="\about">Read More &rarr;</a>
	</div>
	
</aside>

<!-- End Sidebar -->