<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="description" content="Blog of {{ site.author.name }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{% include copyright.md %}" />

    <script src="/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="/css/app.min.css" />
  </head>
  <body>
    
  {% include navbar.html %}
  
  <div class="row">
   	 <div class="large-9 columns" role="content">
  	  	{{ content }}
  	</div>
  {% include sidebar.html %}
  </div>
  
  {% include footer.html %}
 
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.url }}" href="/rss.xml" />
  
    <script src="/js/app.min.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>