<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="description" content="Blog of {{ site.author.name }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{% include copyright.md %}" />

    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/modernizr.js"></script>

    <!-- syntax highlighting CSS [DISABLED - USING JS INSTEAD OF PYGMENTS]
    <link rel="stylesheet" href="/css/syntax.css">-->

	<script src="/js/highlight.pack.js"></script>
	<link rel="stylesheet" href="/css/styles/github_xcode.css">
	<script>hljs.initHighlightingOnLoad();</script>
	
  </head>
  <body>
    
  {% include navbar.html %}
  
  <div class="row">
   	 <div class="large-9 columns" role="content">
  	  	{{ content }}
  	</div>
  {% include sidebar.html %}
  </div>
  
  {% include footer.html %}
 
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.url }}" href="/rss.xml" />
  
    <script src="/js/jquery.js"></script>
    <script src="/js/templates/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>